In [1]:
import pandas

In [2]:
data = pandas.read_csv("C:\\real_estate.csv",header=0)

In [3]:
data

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [15]:
from sklearn.neural_network import MLPRegressor
regr = MLPRegressor(hidden_layer_sizes=(10,5),max_iter=10000)

In [16]:
x=data.iloc[:,1:7] 
y=data.iloc[:,7]

In [17]:
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split 
y_train, y_test, x_train, x_test = train_test_split(y,x,test_size=0.20)
arbre = regr.fit(x_train, y_train)

In [19]:
y_pred = arbre.predict(x_test)

In [20]:
y_pred

array([47.04111802, 43.97446015, 27.4989839 , 52.89909156, 43.03203109,
       35.28294071, 44.08557646, 48.30162657, 47.19864543, 28.02859813,
       20.52312364, 48.30440033, 44.29696426, 44.98287491, 46.37943943,
       52.06576137, 48.48954245, 43.23857664, 44.73058861, 21.19385089,
       47.86827193, 48.578092  , 25.17410737, 38.31118065, 48.72548863,
       26.44895268, 19.41767008, 38.08708608, 26.27389656, 47.08510425,
       49.73268586, 36.83077355, 50.72287821, 37.09606479, 35.89031093,
       42.82059417, 49.3535848 , 20.3353507 , 27.52560821, 25.82513623,
       36.47101054, 52.28809994, 50.72087218, 46.9962696 , 27.9794414 ,
       41.20684064, 51.81728623, 50.8127719 , 49.79231738, 42.30385579,
       13.76543287, 26.12868381, 50.72287821, 37.99825143, 24.9521987 ,
       43.23127235, 42.42897684, 20.37498414, 46.39512409, 43.20495089,
       48.63636888, 42.38697739, 24.87024804, 45.90633065, 52.14535009,
       41.99647006, 40.61831781, 27.97109667, 26.13023652, 43.80993772,
       45.82382568, 41.3604133 , 25.86687857, 45.88438331, 49.38936739,
       45.00059981, 43.83052307, 18.72386757, 26.169918  , 45.11713327,
       49.65920452, 24.27537714, 20.63291619])

In [21]:
from sklearn.metrics import r2_score

In [22]:
r2_score(y_test, y_pred)

0.48512179613379114

In [12]:
from sklearn.metrics import mean_squared_error

In [13]:
import  numpy as np
def root_mean_squared_error(actual, predictions):
    return np.sqrt(mean_squared_error(actual, predictions))

In [14]:
root_mean_squared_error(y_test, y_pred)

7.815170151308786