In [1]:
import pandas

In [2]:
data = pandas.read_csv("C:\\real_estate.csv",header=0)

In [3]:
data

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [4]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()

In [5]:
x=data.iloc[:,1:7] 
y=data.iloc[:,7]

In [6]:
x

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245
...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381
410,2012.667,5.6,90.45606,9,24.97433,121.54310
411,2013.250,18.8,390.96960,7,24.97923,121.53986
412,2013.000,8.1,104.81010,5,24.96674,121.54067
413,2013.500,6.5,90.45606,9,24.97433,121.54310

In [7]:
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split 
y_train, y_test, x_train, x_test = train_test_split(y,x,test_size=0.20)
arbre = clf.fit(x_train, y_train)

In [10]:
y_pred = arbre.predict(x_test)

In [11]:
y_pred

array([49. , 32.9, 42.3, 25. ,  7.6, 30.1, 49. , 44.5, 42.1, 43.4, 28.6,
       46.6, 39.4,  7.6, 46.4, 46.2, 18.3, 27.7, 37.3, 40.1, 21.8, 27.3,
       42.6, 15.6, 43.5, 31.3, 34.2, 18.3, 47.1, 43.5, 31.3, 42.8, 40.5,
       21.5, 27. , 42.2, 29.8, 50.2, 30.7, 35.3, 46.2, 45.7, 55. , 34.1,
       37.4, 23.5, 40.5, 42. , 55. , 43.2, 39.7, 31.6, 58.8,  7.6, 46.4,
       16.1, 30.1, 37.7, 54.4, 29.3, 40.3, 25.5, 43.8, 50.2, 54.4, 12.9,
       32.9, 61.5, 30.7, 12.9, 19.1, 33.1, 42.5, 23. , 42.7, 36.7, 55. ,
       59. , 45.9, 44.7, 56.3, 45.9, 40.5])

In [12]:
y_test

280    45.4
168    37.4
91     43.2
6      40.3
42     34.7
       ...
3      54.8
210    52.2
252    52.7
122    32.5
12     39.3
Name: Y house price of unit area, Length: 83, dtype: float64

In [13]:
from sklearn.metrics import r2_score

In [14]:
r2_score(y_test, y_pred)

0.3566509870180046

In [15]:
#Valeur de R²	Signification
#1.0	Modèle parfait : 100 % de la variance expliquée
#0.9 – 1.0	Excellente explication
#0.7 – 0.9	Bonne explication
#0.5 – 0.7	Moyenne, acceptable selon le domaine
#0 – 0.5	Faible explication (le modèle ne capture pas bien les tendances)
#< 0	Pire qu’un modèle qui prédit juste la moyenne

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
import  numpy as np
def root_mean_squared_error(actual, predictions):
    return np.sqrt(mean_squared_error(actual, predictions))

In [18]:
rmse=root_mean_squared_error(y_test, y_pred)

In [19]:
rmse

8.759648724870909

In [38]:
nrmse_range = rmse / (np.max(y_test) - np.min(y_test))
nrmse_mean  = rmse / np.mean(y_test)

print("RMSE :", rmse)
print("nRMSE (range) :", nrmse_range)
print("nRMSE (mean)  :", nrmse_mean)

RMSE : 8.98002636376842
nRMSE (range) : 0.12701593159502717
nRMSE (mean)  : 0.2450654922709209

In [40]:
#nRMSE (normalisé par plage, moyenne)	Interprétation générale
#0.0 – 0.1	Excellent
#0.1 – 0.2	Très bon
#0.2 – 0.3	Acceptable / Bon
#0.3 – 0.5	Moyen (à améliorer)
#> 0.5	Faible / Mauvais