In [1]:
import pandas

In [2]:
data = pandas.read_csv("C:\\real_estate.csv",header=0)

In [3]:
data

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [4]:
from sklearn.ensemble import RandomForestRegressor
clf = RandomForestRegressor(n_estimators=40)

In [5]:
x=data.iloc[:,1:7] 
y=data.iloc[:,7]

In [6]:
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split 
y_train, y_test, x_train, x_test = train_test_split(y,x,test_size=0.40)

In [8]:
arbre = clf.fit(x_train, y_train)

In [9]:
y_pred = arbre.predict(x_test)

In [10]:
y_pred

array([38.975     , 16.49583333, 53.465     , 16.035     , 22.88      ,
       40.235     , 51.7       , 36.68      , 28.1815625 , 25.1425    ,
       28.125625  , 31.6290625 , 51.9925    , 18.53333333, 40.525     ,
       23.9925    , 42.9945    , 43.1825    , 48.085     , 27.5975    ,
       23.908125  , 38.295     , 55.815     , 50.32375   , 40.64375   ,
       15.6275    , 40.240625  , 29.828125  , 36.3025    , 50.063125  ,
       24.41125   , 49.4925    , 28.128125  , 43.1825    , 51.9225    ,
       41.6075    , 50.22      , 38.7145    , 42.9025    , 41.7625    ,
       39.28      , 35.055625  , 28.47      , 33.745     , 30.2375    ,
       51.34625   , 40.1       , 46.665     , 31.2428125 , 27.990625  ,
       40.04      , 24.8875    , 51.91      , 37.7225    , 51.5975    ,
       49.895     , 50.3625    , 39.86      , 44.65375   , 61.539375  ,
       58.655     , 47.15      , 45.49      , 27.57625   , 26.5225    ,
       37.285     , 51.425     , 42.7975    , 36.635     , 29.5225    ,
       33.6675    , 43.61054167, 31.3315625 , 18.235     , 40.02429167,
       41.2425    , 38.025     , 61.539375  , 23.83875   , 38.6475    ,
       26.425     , 40.62075   , 14.645     , 44.3475    , 33.53      ,
       36.9325    , 36.88333333, 24.5875    , 50.22      , 52.19125   ,
       53.818125  , 33.955     , 26.2125    , 35.975     , 40.4475    ,
       54.945     , 50.2175    , 38.13875   , 36.59      , 28.2525    ,
       26.6975    , 67.0525    , 26.3125    , 44.6975    , 41.357     ,
       16.495     , 29.205     , 41.9725    , 43.91      , 40.775     ,
       50.3975    , 53.27625   , 67.0525    , 25.2775    , 50.753125  ,
       48.3025    , 47.37      , 45.3325    , 42.06      , 42.145     ,
       16.2925    , 40.0025    , 27.185     , 26.2325    , 18.248     ,
       54.5725    , 50.185     , 51.9925    , 34.0825    , 27.1525    ,
       25.255     , 51.43375   , 53.6425    , 39.39      , 14.58      ,
       24.0125    , 41.48      , 40.785     , 24.19625   , 40.775     ,
       26.015     , 25.36291667, 51.605     , 19.83      , 39.79      ,
       37.4875    , 36.538125  , 28.288125  , 39.6375    , 28.0525    ,
       20.4       , 51.415     , 42.5125    , 36.9325    , 51.9725    ,
       39.3475    , 48.33708333, 45.675     , 37.05      , 27.72      ,
       40.89      , 52.17      , 38.7875    , 34.0975    , 44.2075    ,
       39.432     ])

In [11]:
from sklearn.metrics import r2_score

In [12]:
r2_score(y_test, y_pred)

0.6044604591187726

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
import  numpy as np
def root_mean_squared_error(actual, predictions):
    return np.sqrt(mean_squared_error(actual, predictions))

In [33]:
root_mean_squared_error(y_test, y_pred)

7.089158920873977